<div class="col-md-4 offset-md-3">
    <h3> Update Claim Details </h3>
    <form (ngSubmit)="onSubmit()" #claimForm="ngForm">

        <div class="form-group">
            <label>Claim Status</label>
            <select class="form-control" id="claimStatus" [(ngModel)]="claim.claimStatus" name="claimStatus" required>
                <option value="true">approved</option>
                <option value="false">pending</option>
            </select>
        </div>

        <div class="form-group">
            <label for="amtApprovedBySurveyor">Amount Approved By Surveyor</label>
            <input type="number" class="form-control" id="amtApprovedBySurveyor"
                [(ngModel)]="claim.amtApprovedBySurveyor" name="amtApprovedBySurveyor" required>
            <div *ngIf="claimForm.controls['amtApprovedBySurveyor'].touched && claimForm.controls['amtApprovedBySurveyor'].invalid"
                class="error-msg" style="color: red;">
                Amount approved by surveyor is required.
            </div>
            <div *ngIf="claimForm.controls['amtApprovedBySurveyor'].value < 0" class="error-msg" style="color: red;">
                Amount approved by surveyor cannot be negative.
            </div>
        </div>

        <div class="form-group">
            <label for="surveyorId">Surveyor Id</label>
            <input type="number" class="form-control" id="surveyorId" [(ngModel)]="claim.surveyor.surveyorId"
                name="surveyorId" required>
            <div *ngIf="claimForm.controls['surveyorId'].touched && claimForm.controls['surveyorId'].invalid"
                class="error-msg" style="color: red;">
                Surveyor Id is required.
            </div>
            <div *ngIf="claimForm.controls['surveyorId'].value < 0" class="error-msg" style="color: red;">
                Surveyor Id cannot be negative.
            </div>
        </div>


        <div class="form-group">
            <label>Policy No</label>
            <input type="text" class ="form-control" id = "policyNo"
                [(ngModel)] = "claim.policy.policyNo" name = "policyNo" readonly>
        </div>
    

        <div class="form-group">
            <label>Estimated Loss</label>
            <input type="text" class ="form-control" id = "estimatedLoss"
                [(ngModel)] = "claim.estimatedLoss" name = "estimatedLoss" readonly>
        </div>
    


        <div class="form-group">
            <label>Date Of Accident</label>
            <input type="date" class ="form-control" id = "dateOfAccident"
                [(ngModel)] = "claim.dateOfAccident" name = "dateOfAccident" readonly>
        </div>


       
        <div class="form-group">
            <label>Insurance Company Approval</label>
           <select class="form-control" id="insuranceCompanyApproval" [(ngModel)]="claim.insuranceCompanyApproval" name="insuranceCompanyApproval" readonly>
             <option value="true">approved</option>
             <option value="false">pending</option>
           </select>
           </div>
     
           <div class="form-group">
            <label>Withdraw Claim</label>
           <select class="form-control" id="withdrawClaim" [(ngModel)]="claim.withdrawClaim" name="withdrawClaim" readonly>
             <option value="true">approved</option>
             <option value="false">pending</option>
           </select>
           </div>

        <br>
        <button class="btn btn-success" type="submit" [disabled]="!claimForm.valid">Submit</button>
        <div class="error-msg" *ngIf="showError;">
            <p style="color: red;">{{showError}}</p>
        </div>
    </form>
</div>